<% content_for :top_left do %>
<h1>Help</h1>

<% end %>

<center>
<p> The site is currently in very early beta. Pleae send all bug reports and feature requests to the emaill address below. You can follow
	me on the system to get updates related to the site. Thanks for testing!</p>
<h3> <a href="/jodyalbritton">Jody Albritton</a> </h3>

                    <%= mail_to "help@whatsmyx.com", "help@whatsmyx.com"%>
                    <div id="fb-root"></div>
 
 
 
 <script>
  $(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=267610973277613";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

</center>