<%= content_for :sidebar do %>
<h3>About WMX</h3>
<% end %>

<p>
	WMX is a web application for tracking statisics about your body, habits, and activities.  I started this as a project to learn ruby and rails
	in the summer of 2012. 
	</p>
