<%= content_for :sidebar do %>
<h3>About WMX</h3>
<% end %>

    <p>
	What's My X is a web application for tracking statistics about your body, habits, and activities.  
	I started this as a project to learn ruby and rails in the summer of 2012. 
	</p>
    <p>
	WMX is a free service and I do not share your info with any advertisers. 
	</p>