        <%= content_for :sidebar do %>
        <h3>Privacy Policy</h3>
        <% end %>
        <p>This is our privacy policy. We are working on making it engaging, but, for now, here is the lowdown as to how information about you is collected, used and disclosed by WHATSMYX.COM. Our privacy policy applies to information we collect when you use our website located at http://WHATSMYX.COM, use the WHATSMYX.COM development tools and social networking services or just interact with us.
        We may change this privacy policy from time to time. If we make changes, we will notify you by revising the date at the top of our privacy policy and, in some cases, we may provide you with more prominent notice (such as adding a statement to our homepage or sending you an email notification). We encourage you to review our privacy policy whenever you access our services to stay informed about our information practices and the ways you can help protect your privacy.</p>

        <h2>Collection of Information</h2>

        <h3>Information You Provide to Us</h3>

        <p>We collect information you provide directly to us. For example, we collect information when you create an account, subscribe, participate in any interactive features of our services, fill out a form, request customer support or otherwise communicate with us. The types of information we may collect include your name, email address, postal address, credit card information and other contact or identifying information you choose to provide.</p>

        <h3>Information We Collect Automatically When You Use the Services</h3>

        <p>When you access or use our services, we automatically collect information about you, including:</p>

        <ul>
        <li><strong>Log Information</strong>:  We log information about your use of our services, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our services.</li>
        <li><strong>Device Information</strong>:  We collect information about the computer you use to access our services, including the hardware model, and operating system and version.</li>
        <li><strong>Information Collected by Cookies and Other Tracking Technologies</strong>:  We use various technologies to collect information, and this may include sending cookies to your computer. Cookies are small data files stored on your hard drive or in your device memory that helps us to improve our services and your experience, see which areas and features of our services are popular and count visits. We may also collect information using web beacons (also known as "tracking pixels"). Web beacons are electronic images that may be used in our services or emails and help deliver cookies, count visits, understand usage and campaign effectiveness and determine whether an email has been opened and acted upon. For more information about cookies, and how to disable them, please see "Your Information Choices" below.</li>
        </ul>

        <h3>Information We Collect From Other Sources</h3>

        <p>We may also obtain information from other sources and combine that with information we collect through our services.</p>

        <h2>Use of Information</h2>

        <p>We do not use your information for serving up ads.</p>

        <p>We use information about you for various purposes, including to:</p>

        <ul>
        <li>Provide, maintain and improve our services;</li>
        <li>Provide services you request, process transactions and to send you related information, including confirmations and invoices,</li>
        <li>Send you technical notices, updates, security alerts and support and administrative messages;</li>
        <li>Respond to your comments, questions and requests and provide customer service;</li>
        <li>Communicate with you about WHATSMYX.COM;</li>
        <li>Provide news and information we think will be of interest to you;</li>
        <li>Monitor and analyze trends, usage and activities in connection with our services;</li>
        <li>Personalize and improve our services; and</li>
        <li>Link or combine with other information we get from third parties to help understand your needs and provide you with better service.</li>
        </ul>

        <p>By accessing and using our services, you consent to the processing and transfer of your information in and to the United States and other countries.</p>

        <h2>Sharing of Information</h2>

        <p>Remember, we don't share your information with advertisers.</p>

        <p>We may share personal information about you as follows:</p>

        <ul>
        <li>With third party vendors and other service providers who need access to your information to carry out work on our behalf (e.g., our payment processors who handle the payment portion of your subscriptions);</li>
        <li>If we believe disclosure is reasonably necessary to comply with any applicable law, regulation, legal process or governmental request;</li>
        <li>To enforce applicable user agreements or policies, including our <%= link_to "Terms of Service", static_pages_terms_path %>; and to protect WHATSMYX.COM, our users or the public from harm or illegal activities;</li>
        <li>In connection with, or during negotiations of, any merger, sale of WHATSMYX.COM assets, financing or acquisition of all or a portion of our business to another company; and</li>
        <li>If we notify you through our services (or in our privacy policy) that the information you provide will be shared in a particular manner and you provide such information.</li>
        </ul>

        <p>We may also share aggregated or anonymized information that does not directly identify you.</p>

        <h2>Third Party Analytics</h2>

        <p>We may allow third parties to provide analytics services. These third parties may use cookies, web beacons and other technologies to collect information about your use of the services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information may be used by WHATSMYX.COM and third parties to, among other things, analyze and track data, determine the popularity of certain content and other websites and better understand your online activity. Our privacy policy does not apply to, and we are not responsible for, third party cookies, web beacons or other tracking technologies and we encourage you to check the privacy policies of these third parties to learn more about their privacy practices.</p>

        <h2>Security</h2>

        <p>WHATSMYX.COM takes reasonable measures to help protect personal information from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.</p>

        <h2>Your Information Choices</h2>

        <h3>Account Information</h3>

        <p>You may update, correct or delete information about you at any time by logging into your online account and modifying you personal profile. If you wish to delete or suspend your account go to your <%= link_to "Account Page", edit_user_registration_path%>, 
        	but note that we may retain certain information as required by law or for legitimate business purposes. Your data belongs to you, we will delete your data upon request unless we are legally prevented from doing so.</p>

        <h3>Cookies</h3>

        <p>Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our services.</p>

        <h3>Promotional Communications</h3>

        <p>You may opt out of receiving promotional emails from WHATSMYX.COM by following the instructions in those emails. If you opt out, we may still send you non-promotional communications, such as those about your account or our ongoing business relations.</p>
