
  
  <%= simple_form_for @mpost, :remote => true do |f| %>
  <div id= "post_errors" style="display:none"></div>
  <div class="row">
  <div class="span5 controls">
   <%= f.input :content, :input_html => { :class => 'input-xlarge'}  %>
   </div>
   <div class="span2">
   <%= f.submit "Post", class: "btn btn-large btn-primary" %>
   </div>
   <% end %>
   </div>
