
   <% content_for :sidebar do %>
     <div id="group-sidebar">
      <div class="my-group-item">
        <h2>My Groups</h2>
        <%= render "my-group-item"%>
      </div>
     </div>
     <% end %>
   
      
    
    
       
       <div class="group-controls">
       <ul class="nav nav-tabs flush" id="myTab">
       <li class="active"><a href="#my-groups" data-toggle="tab">My Groups</a></li>
       <li><a href="#all-groups" data-toggle="tab">All Groups</a></li>
       </ul>

       </div>

        <div class="tab-content">
   
        <div class="tab-pane active" id="my-groups">
        <div class="row-fluid">
        <%= render "group-item" %>
        </div>
        </div>
        <div class="tab-pane" id="all-groups">
        	Test
        </div>
        </div>
        </div>

  

        
      
    




