

     <div class="row">
      
     <div class="span3">
     	<div id="group-sidebar">
     	    <div class="my-group-item">
     	    	<h2>My Groups</h2>
     	   <%= render "my-group-item"%>
     		</div>
       </div>
     </div>
     <div class="span8">
     <%= render "group-item" %>
     </div>
     </div>

        
      
    




