<% content_for :sidebar do %>
	Menu Needed
<% end %>
<div id="users-list" class="users-list">
	
 
    <%= render "users/list" %>
  
</div>
<div id="paginator full" class="visible-desktop paginator">
   <%= paginate @users, :window => 3, :left => 0, :right => 0, :remote=> true%>
</div>
<div id="paginator-small" class="hidden-desktop">
    <%= paginate @users, :window => 0, :left => 0, :right => 0, :remote=> true%>
	
</div>

