 <div class="modal-header">
  	<button class="close" data-dismiss="modal">×</button>
  	<h2>Check it off...</h2>
    

     </div>
  <div class="modal-body">
  <%= simple_form_for @checklist , :remote => true do  |f| %>
  <%= f.input :name %>
  </div>
  <div class="modal-footer">
   
       <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>

   
  </div>
