  <div class="modal-header">
  	<button class="close" data-dismiss="modal">×</button>
  	<h2>Write a note...</h2>
     </div>
  <div class="modal-body">
<%= simple_form_for @note do |f| %>


 <%= f.input :content, :input_html => { :class => 'input-xlarge' } %>
 <%= f.input :date, :as => :date_picker, :input_html => {:value => DateTime.now.strftime('%m/%d/%Y')}%>
 

  </div>
  <div class="modal-footer">
   
   
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  
<% end %>
   
  </div>