
         <div class="home-menu">
         <ul class="nav nav-tabs nav-stacked">
            
         
            <li>
                <a data-toggle="modal" href="#stats-modal" ><i class="icon-bar-chart"></i>Track Stat</a>
            </li>
            <li>
                 <a data-toggle="modal" href="#pactivity-modal" ><i class="icon-bolt"></i>Track Activity</a>
            </li>
            <li>
             	  <a href="<%=nutrition_index_path%>"><i class="icon-lemon"></i>Track Nutrition</a> 
          
            </li>
           
         </ul>
        </div>
    
         
         
         
         
       
       
     <div class="modal hide fade" id="pactivity-modal">
       <%= render "pactivities/form"%>
     </div>
     
     <div class="modal hide fade" id="stats-modal">
       <%= render "stats/form"%>
     </div>
     
     <div class="modal hide fade" id="meal-modal">
       <%= render "stats/form"%>
     </div>
