       <div class "row">
        <div class= well>
         <ul class="nav nav-list">
            <li class="nav-header">
             Dashboard Menu
            </li>
           <li class="active">
               <a href="/">
              Home
             </a>
            </li>
            <li>
                <a data-toggle="modal" href="#myModalStat">
               	<i class="icon-heart"></i>Track Stat</a>
            </li>
             <li>
               <a data-toggle="modal" href="#myModalFood">
             	<i class="icon-barcode"></i>Track Food</a>
             </li>
              <li>
                <a data-toggle="modal" href="#myModalList">
               	<i class="icon-check"></i>Check List</a>
            </li>
             <li>
                <a data-toggle="modal" href="#myModalNote">
               	<i class="icon-pencil"></i>Add a Note</a>
            </li>
              </ul>
          </div>
         </div>
        <div class "row">
         
         
         
         
         <ul class="nav nav-list">
            <li class="nav-header">
            Groups
            </li>
            <% current_user.memberships.each do |membership| %>
            <li>
               <%= link_to membership.group.name, membership.group %> 
            </li>
            <% end %>
            <li>
            	<hr>
            </li>
            <li>
            	<%= link_to 'New Group', new_group_path %>
            </li>
              </ul>
       
         </div>
