<% content_for :sidebar do %>
	<%= render "home/menu" %>
<% end %>
   <% content_for :top_left do%>
   
                
       
      
             	 
          
 
   <% end %>
   <% content_for :top do %>
   <div id="posts_form">
        	<% @parent = '0'%>
        	<%= render :partial => 'posts/form' %>
        </div>
   <% end %>
        <div id="feed-body">
        
        <div id="activity_feed">
          <%= render "activities/index" %>
          
        </div>
        <div id="paginator" class="paginator">
        <%= link_to_next_page @activities, 'More Items', :remote => true%>
        </div>

 
      

    </div>




