<div class="row">
    <div class="menu span3 visible-desktop">
     <%= render 'menu' %>
    </div>
    <div class="span9" id="feed-body">
        <div id="posts_form">
        	<% @parent = '0'%>
        	<%= render :partial => 'posts/form' %>
        </div>
        <div id="activity_feed">
          <%= render "activities/index" %>
          
        </div>
        <%= will_paginate @activities%>

    </div>
</div>



