<h1>Main</h1>


<% content_for :sidebar do %>
        <div class= well>
         <ul class="nav nav-list">
            <li class="nav-header">
             Dashboard Menu
            </li>
           <li class="active">
               <a href="/">
              Home
             </a>
            </li>
            <li>
            	
               <a data-toggle="modal" href="#myModal">
               	<i class="icon-heart"></i>Track Stat</a>
            </li>
             <li>
             <a href="#">
             	<i class="icon-barcode"></i>Track Food</a>
             </li>
              </ul>
          </div>
<% end %>



<div  id="myModal"  class="modal hide fade">
  <div class="modal-header">
  	<button class="close" data-dismiss="modal">×</button>
  	<h2>Track your...</h2>
    

     </div>
  <div class="modal-body">
      <%= render 'shared/stat_form' %>
     </div>
  <div class="modal-footer">
   
   
   
  </div>
</div>