<div class="row">

<div class="menu span3">
<%= render 'menu' %>
</div>




  <div class="span9" id="feed-body">
 <% @parent = '0'%>
 <div id="posts_form"><%= render :partial => 'posts/form' %></div>
 
 <div id="activity_feed">
 	
 	<%= render "activities/index" %>
 	
 </div>

<%= will_paginate @activities%>


</div>

</div>
