<% content_for :sidebar do %>
    <%= render "shared/track_nav"%>
    
<% end %>




<div class="stats-top row-fluid">
	<div>
	<div class="pull-right">
	<a class="btn btn-primary" data-toggle="modal" href="#mental_activity-modal">Track Activity <i class="icon-bolt"></i></a>
	</div>
	</div>
	
</div>

<div class="span12" id="mental_activity-list">
	
    <%= render "mental_activities/mental_activity"%>
    
</div>

     


   <div class="modal hide" id="mental_activity-modal">
       <%= render "mental_activities/form"%>
  </div>

