<ul class="nav nav-tabs nav-stacked">
 
  
  <li class="<%= 'active' if params[:controller] == 'pactivities' %>">
    <%= link_to pactivities_path do  %>
    Activity List
    <i class="icon-chevron-right pull-right"></i>
    <% end %>
  </li>
 
 
</ul>