<ul class="nav nav-list">
  <li class="nav-header">
    Physical Activities
  </li>
  <li><a data-toggle="modal"  href="#pactivity-modal">Log Activity</a>
</li>
  <li class="active">
    <%= link_to "Activity List", pactivities_path %>
  </li>
 
 
</ul>