<ul class="nav nav-tabs nav-stacked">
 
  <li><a data-toggle="modal"  href="#pactivity-modal">Log Activity</a>
</li>
  <li class="<%= 'active' if params[:controller] == 'pactivities' %>">
    <%= link_to "Activity List", pactivities_path %>
  </li>
 
 
</ul>