<% content_for :sidebar do %>
    <%= render "shared/track_nav"%>
    <%= render "pactivities/pnav"%>
<% end %>




<div class="stats-top row-fluid">
	<div>
	<div class="pull-right">
	<a class="btn btn-primary" data-toggle="modal" href="#pactivity-modal">Track Activity <i class="icon-bolt"></i></a>
	</div>
	</div>
	
</div>

<div class="row-fluid" id="pactivity-list">
	
    <%= render "pactivities/pactivity"%>
    
</div>

     


   <div class="modal hide" id="pactivity-modal">
       <%= render "pactivities/form"%>
  </div>

