<% content_for :sidebar do %>
    <a data-toggle="modal"  href="#pactivity-modal" class="btn btn-primary">new</a>
    
<% end %>

<% content_for :top_left do %>
	<h1>Physical Activities</h1>
<% end %>


<table class="table table-striped">

  <tr>

    <th>Physical Activity</th>
    <th>Duration</th>
    <th>Calories Burned</th>
    <th></th>
    <th></th>

  </tr>
<tbody id="pactivity-list">
   <%= render @pactivities %>
</tbody>

     

</table>
   <div class="modal hide fade" id="pactivity-modal">
       <%= render "pactivities/form"%>
  </div>

