<div class="enclosure"> 
	<a class="close" data-dismiss="alert">×</a>
<div class="alert alert-error">
  	
      The form contains <%= pluralize(@meal.errors.count, "error") %>.
    </div>
    <ul>
    <% @meal.errors.full_messages.each do |msg| %>
    <li>* <%= msg %></li>
    <% end %>
    
    </ul>  
</div>
    