<p id="notice"><%= notice %></p>



<p>
  <b>Name</b>
  <%= @meal.name %>
</p>

<p>
  <b>Ingredients:</b>
  <% @meal.foods.each do |food| %>
  <div>
  <%= food.name %>
  </div>
  <% end %>
</p>


<%= link_to 'Back', nutrition_index_path %>
