<ul class="nav nav-tabs">
  <li class="active"><a href="#inbox" data-toggle="tab">Inbox</a></li>
  <li><a href="#sent" data-toggle="tab">Sent</a></li>
  <li><a href="#notifications" data-toggle="tab">Notifications</a></li>
  </ul>

  <div class="tab-content">
 
  <div class="tab-pane active" id="inbox">
  	
  		<%= render :partial => "mailboxes/inbox" %>
 
  </div>
   <div class="tab-pane" id="sent">
        <%= render :partial => "mailboxes/sent" %>
  </div>
  <div class="tab-pane" id="notifications">
        <%= render :partial => "mailboxes/notifications" %>
  </div>
  </div>
