<% unless user == current_user %>
  <% if current_user.following?(user) %>
    <div class="btn-group">
    <%= link_to("Following", user_follow_path(user.to_param, current_user.get_follow(user).id), :method => :delete, :remote => true, :class => "btn btn-mini btn-primary") %>
    <a data-toggle="modal" class="btn btn-mini btn-primary" href="#dm-modal"><i class="icon-envelope"></i></a>
                 <a class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
                  <ul class="dropdown-menu">
                  <li><a href="#"><i class="icon-upload"></i> Add to Circle</a></li>
                  <li><a data-toggle="modal" href="#dm-modal"><i class="icon-envelope"></i> Message</a></li>
                  <li><a href="#"><i class="icon-ban-circle"></i> Block</a></li>
                  <li class="divider"></li>
                  <li><%= link_to("Stop Following", user_follow_path(user.to_param, current_user.get_follow(user).id), :method => :delete, :remote => true) %></li>
                  </ul>
                </div>
    <% else %>
    <div class="btn-group">
    <%= link_to("Follow", user_follows_path(user.to_param), :method => :post,:remote => true, :class => "btn btn-mini btn-primary") %>
     <a data-toggle="modal" class="btn btn-mini btn-primary" href="#dm-modal"><i class="icon-envelope"></i></a>
                 <a class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
                  <ul class="dropdown-menu">
                  <li><a href="#"><i class="icon-upload"></i> Add to Circle</a></li>
                  <li><a data-toggle="modal" href="#dm-modal"><i class="icon-envelope"></i> Message</a></li>
                  <li><a href="#"><i class="icon-ban-circle"></i> Block</a></li>
                  <li class="divider"></li>
                  <li><%= link_to("Follow", user_follows_path(user.to_param), :method => :post,:remote => true) %></a></li>
                  </ul>
                </div>
  <% end %>
<% end %>
