
 
  <%= simple_form_for @post , :remote => true do |f| %>
  
   <div class="row">
   <div class="form-container">
  
   <div class="form-box span6">
   <%= f.input :text,  :label => false, :input_html => {:class=> "input-xlarge span6"}%>
   </div>
   <div class="form-assoc span3">
   <%= f.submit "Post", :class => "btn btn-primary" %>
  
   </div>
  
   <div class="form-buttons">
   <%= f.input :parent_id, :as => 'hidden', :input_html =>{:value => @parent}%>
   
   </div>
   </div>
   </div>
   <% end %>

