
  
  <%= simple_form_for @post , :remote => true do |f| %>
  <div id= "post_errors" style="display:none">
  </div>
  <div class="row post-form-div">
   <div class="span7">
   <div class="control-group pull-right">
   <div>
  
   <%= f.text_area :text, :class => 'input-xlarge span5', :label => false%>

   <%= f.input :parent_id, :as => 'hidden', :input_html =>{:value => @parent}%>
  
   <%= f.submit "Post", :class => "btn" %>
   </div>
   </div>
   </div>



   <% end %>
   </div>
