/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.ui.core
 *= require jquery.ui.autocomplete
 *= require formtastic
 *= require_self
 *= require_tree .
*/

.input-xlarge {
	height: 18px;

}

a.btn:visited { color: #333; }

a.btn-danger:visited { color: #fff; }

a.btn-primary:visited { color: #fff; }

#user_profile_attributes_dob_1i {
	width: 100px;
}
#user_profile_attributes_dob_2i {
	width: 100px;
}
#user_profile_attributes_dob_3i {
	width: 100px;
}

#profile-header {
background-color: #EBEDEE;
padding: 1%;
min-height: 70px;

}

#profile-merit ul {
list-style: none;
margin-top: 2%;
}
#profile-merit #name-box, #profile-header ul {
float: left;
}

#profile-merit ul li {
float: right;
margin-left: 35px;
font-size: 18px;
text-align: center;
color: #909B9F;
}

#profile-merit ul li strong {
display: block;
color: #2E393D;
font-size: 28px;
margin-bottom: 2%;
}




#comments_list ul {
list-style: none;
}

.nut-label {

        border-bottom: thin solid black;
}
/****************************************************************
Activity Feed
****************************************************************/

.activity-item {
        min-height: 200px;
        border-bottom: 1px solid #E3E3E3;
        border-left: 1px solid #E3E3E3;
        border-right: 1px solid #E3E3E3;
        padding: 10px;
}





/****************************************************************
Post Style
****************************************************************/

.post-delete {
        padding: 1px;
       
     
}
.post-avatar {
        padding-bottom: 5px;
        height: 60px;
}

#post-footer {
margin: 3px 0 8px;

}



/****************************************************************
Comments Style
****************************************************************/

.comment-delete {
        padding: 1px;
        
     
}
.comment-avatar {
        padding-bottom: 5px;
        height: 60px;
}

.comment-item {
        min-height: 100px;
}

/****************************************************************
Note Style
****************************************************************/
#note_date_1i {
	width: 100px;
}
#note_date_2i {
	width: 100px;
}
#note_date_3i {
	width: 100px;
}
.note-avatar {
        padding-bottom: 5px;
        height: 60px;
}


/****************************************************************
Stat Style
****************************************************************/
#stat_date_1i {
	width: 100px;
}
#stat_date_2i {
	width: 100px;
}
#stat_date_3i {
	width: 100px;
}

.stat-avatar {
        padding-bottom: 5px;
        height: 60px;
}


/****************************************************************
Ingredient Style
****************************************************************/
#ingredient_date_1i {
	width: 100px;
}
#ingredient_date_2i {
	width: 100px;
}
#ingredient_date_3i {
	width: 100px;
}

.ingredient-avatar {
        padding-bottom: 5px;
        height: 60px;
}


/****************************************************************
Avatar Style
****************************************************************/

img.avatar  {
-webkit-background-clip: padding-box;
-webkit-border-radius: 8px;
-moz-background-clip: padding-box;
-moz-border-radius: 8px;
border-radius: 8px;
background-clip: padding-box;
}

/****************************************************************
nutrition nav by date
****************************************************************/
.nutri-nav {

	text-align: center;
	min-height: 80px;
	
}

.sidebar-controls {
	min-height: 50px;
}

.no-entry {
	min-height: 20px;
	text-align: center;
	border-radius: 7px 7px;
	background: yellow; 
	
 
}
.add-food-button {

	padding-top: 40px;
	text-align: center;
}
.nutri-body {
	
	min-height: 500px;
	
	border-bottom: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;

}
