  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.ui.core
 *= require jquery.ui.autocomplete
 *= require jquery.Jcrop
 *= require token-input-facebook
 *= require_self
 *= require_tree .
*/
/* styles for layout */



.paginator.next{
  background: lightgrey;
  text-align: center;
  height: 20px;
}

.paginator.full{

  text-align: center;

}


#wrap
{
  min-height: 100%;  
}
#content-body {

}



.nav.nav-tabs {
  margin-bottom: 0px;
}


.table{
  border-left: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;

}
.tab-pane{
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #E3E3E3;
  border-left: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
}


.button-bar{
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}

/****************************************************************
Help Page
****************************************************************/
.help{
  padding-top: 10px;
  padding-bottom: 10px;
}
/****************************************************************
Activity Feed
****************************************************************/



#activity_feed{
  border-left: 1px solid #E3E3E3;
  border-right:1px solid #E3E3E3;
}
.activity-logo{
  font-size: 100px; 
  padding-top: 20px;
  
  opacity: 0.5;
  color: #005580;
  
}
.activity-item {
  border-bottom: 1px solid #E3E3E3;
 
  min-height: 175px;
}

.activity-sidebar{
  
  text-align: center;
  padding-top: 15px;
  padding-left: 5px;
  
}

.activity-body{
  padding-top: 15px;
  padding-left: 10px;
}

  
  




/****************************************************************
Mesages
****************************************************************/
.message-body{
  height: 100px;
}
/****************************************************************
Post Style
****************************************************************/

#form-action-main {
  margin-bottom: -18px;
}
#post_scope.select {
  width: 120px;
}

#post-form-small{
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  border-left: 1px solid #E3E3E3;
  padding-left: 10px;
  padding-top: 10px;
}

.post-form-box{
  padding-left: 10px;
}
#post-form-cont {
       min-height: 50px;
       padding-top: 5px;
          
       border-bottom: 1px solid #E3E3E3;
         border-right: 1px solid #E3E3E3;
         border-left: 1px solid #E3E3E3;
         border-top: 1px solid #E3E3E3;
  
}
.post-input {
  
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width : 95%;
  

}
.post-input-footer {
  background: #eee;
}
.form-buttons {
  padding-left: 20px;
}

.post-delete {
        padding: 1px;
       
     
}
.post-avatar {
        padding-bottom: 5px;
        height: 60px;
}

#post-footer {


}

.post-content {
  min-height: 40px;
  padding-bottom: 5px;

}

.post-likes {
    color: gray;
  border-bottom: 1px solid #E3E3E3;

    

}




/****************************************************************
Comments Style
****************************************************************/
.comment-img {
  float: left;
  padding-right: 5px;
}
.comment-body p {
  text-align : justify; 
  word-wrap: break-word;  
}

.comment-item:hover {
  
  background-color: #eee;
}

#comment-item p {
list-style: none;
}
.comment-item {
  
}

.comment-content {
  list-style: none;
}

.comment-delete {
        padding: 1px;
        
     
}
.comment-avatar {
        padding-bottom: 5px;
        height: 60px;
}

.comment-item {
        min-height: 100px;
}

.comment-likes {
  
  color: gray;
}

.input-comment {
  height: 18px;
  width: 95%;
}

/****************************************************************
Stat Style
****************************************************************/
.stat-sidebar{
 
  text-align: center;
}


/****************************************************************
Pactivity Style
****************************************************************/
.pactivity-sidebar{
 
  text-align: center;
}

/****************************************************************
Meal Style
****************************************************************/
.meal-sidebar{
 
  text-align: center;
}
/****************************************************************
Body / stats
****************************************************************/
/****************************************************************
Nutrition Page
****************************************************************/
#meal-form {
  padding: 10px;
}


.meal-body {
  padding-top: 10px;
}
.inner-box {
  padding: 20px;
  text-align: center;
  min-height: 100px;
  border: 1px solid #E3E3E3;
  background-color: #EBEDEE;
         
}

.nutrition-header{
  padding-top: 10px;
}

#sidebar-summary {
  padding-top: 10px;
}

.nut-label {

 border-bottom: thin solid black;
}
.nutrition-tabs {
  padding-top: 10px;
}



/****************************************************************
Groups
****************************************************************/
#profile-name{
  padding-bottom: 5px;
  padding-left: 5px;
}
.group-pane{
  border-bottom: 1px solid #E3E3E3;
  min-height: 120px;
}




.group-item-sidebar{
  padding-top: 20px;
  text-align: center;
}


/****************************************************************
Sign Up Forms
****************************************************************/

.signup-footer {
      text-align: center;
        min-height: 200px;
        border-bottom: 1px solid #E3E3E3;
        border-left: 1px solid #E3E3E3;
        border-right: 1px solid #E3E3E3;
        padding: 10px;
}

.signup-header {

        min-height: 200px;
        border-top: 1px solid #E3E3E3;
        border-left: 1px solid #E3E3E3;
        border-right: 1px solid #E3E3E3;
        padding: 10px;
}

.signup-header li {
    list-style: none;
}

/****************************************************************
Avatar Style
****************************************************************/

img.thumbnail  {


-webkit-background-clip: padding-box;
-webkit-border-radius: 8px;
-moz-background-clip: padding-box;
-moz-border-radius: 8px;
border-radius: 8px;
background-clip: padding-box;


border:solid;
border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
border-width: 1px 2px 2px 1px;
background-color:white;
}
img.avatar  {



-webkit-border-radius: 8px;

-moz-border-radius: 8px;
border-radius: 8px;

overflow: hidden;

border:solid;
border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
border-width: 1px 1px 1px 1px;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);

}


img.user-pic {

  
  
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 8px;
    -moz-background-clip: padding-box;
    -moz-border-radius: 8px;
     border-radius: 8px;
     background-clip: padding-box;


border:solid;
border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
border-width: 1px 1px 1px 1px;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
margin-left: auto;
    margin-right: auto; 
}
img.group-pic {


-webkit-background-clip: padding-box;
-webkit-border-radius: 8px;
-moz-background-clip: padding-box;
-moz-border-radius: 8px;
border-radius: 8px;
background-clip: padding-box;


border:solid;
border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
border-width: 1px 2px 2px 1px;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
  
}

img.group-pic-small {



-webkit-background-clip: padding-box;
-webkit-border-radius: 8px;
-moz-background-clip: padding-box;
-moz-border-radius: 8px;
border-radius: 8px;
background-clip: padding-box;


border:solid;
border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
border-width: 1px 2px 2px 1px;
background-color:white;
  
}

/****************************************************************
nutrition nav by date
****************************************************************/
.nutri-nav {

  text-align: center;

  
}

.sidebar-controls {
  min-height: 50px;
}

.no-entry {
  width: 90%; 
  margin-left: auto; 
  margin-right: auto;
}

.nutri-body {
  
  min-height: 500px;
  
  border-bottom: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;

}

.ui-autocomplete {
  
    width: 340px;
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}


/****************************************************************
Users
****************************************************************/
.user-controls{
  padding-top: 25px;
}

.profile-sidebar{
  padding-top: 25px;
}

.progress {
  width: 98%;
}

.points {
  padding-top: 10px;
  width: 90%;
}


.input-about {
  height: 45px;

}

#user_profile_attributes_dob_1i {
  width: 100px;
}
#user_profile_attributes_dob_2i {
  width: 100px;
}
#user_profile_attributes_dob_3i {
  width: 100px;
}

#profile-header {
    background-color: #EBEDEE;
    padding: 1%;
    min-height: 50px;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;

}

#profile-merit ul {
list-style: none;
margin-top: 2%;
}
#profile-merit #name-box, #profile-header ul {
float: left;
}

#profile-merit ul li {
float: right;
margin-left: 10px;
font-size: 12px;
text-align: center;
color: #909B9F;
}

#profile-merit ul li strong {
display: block;
color: #2E393D;
font-size: 20px;
margin-bottom: 2%;
}


#profile-header {
background-color: #EBEDEE;
padding: 1%;
min-height: 40px;

}

.users-list {
  min-height: 120px;
}
.list-username {
  text-align: center;
  
}

.user-list-avatar {
  padding-left: 2px;
  padding-right: 2px;
}
.user-head-main{
  padding-left: 5px;
  padding-top: 5px;
 
}

/****************************************************************
Dashboard
****************************************************************/
.profile-header {
  width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.dash-items {
    
  padding-top: 5px;
  border-left: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}
.dash-item {
  text-align: center;
  
  margin-bottom: 20px;
  background: #eee;
  height: 120px;
  width: 120px;
}

.dash-content {
  padding-top: 25px;
}
.badge-content {
  
  padding-top: 50px;
  
}
.badge-item {
  
  background: #eee;
  width: 120px;
  height: 120px;
   -moz-border-radius:120px;
   -webkit-border-radius:120px;
   border: 10px solid #0088CC;
   
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  
}
/****************************************************************
Circles
****************************************************************/
.user-card{
  padding-left: 3px;
  padding-top: 15px;
  background: #eee;
  -webkit-box-shadow: 0px 0px 5px 1px #333;
    box-shadow: 0px 0px 5px 1px #333;
    min-height: 50px;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 8px;
    -moz-background-clip: padding-box;
    -moz-border-radius: 8px;
     border-radius: 8px;
     background-clip: padding-box;
  
}
.user-card-sidebar {
  padding-left: 3px;
  padding-top: 3px;
  width: 30px;
  display: inline;
}

.user-card-main {
  padding-left: 3px;
  padding-top: 3px;
  width: 100px;
  display: inline;
}
.contact-area {
  min-height: 200px;
  max-height: 500px;
}
.new-circle {
  height: 120px;
}
.circle-container {
  padding-top: 20px;
  
}
.circle-outer {
  width: 140px;
  height: 140px;
  background: #0088CC;
  padding-top: 20px;
  padding-left: 20px;
   -moz-border-radius:140px;
   -webkit-border-radius:140px;
   -webkit-box-shadow: 0px 0px 5px 1px #333;
    box-shadow: 0px 0px 5px 1px #333;
   
}
.circle {
  -webkit-box-shadow: inset 0px 0px 5px 1px #333;
box-shadow: inset 0px 0px 5px 1px #333;
  
  background: #eee;
  width: 120px;
  height: 120px;
   -moz-border-radius:120px;
   -webkit-border-radius:120px;
}

.circle-item {
  text-align:center;
  padding-top: 30px;
}

#circle_description{
  height: 60px;
}
