/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.ui.core
 *= require jquery.ui.autocomplete
 *= require_self
 *= require_tree .
*/

.input-xlarge {
	height: 100px;
}

a.btn:visited { color: #333; }

a.btn-danger:visited { color: #fff; }

a.btn-primary:visited { color: #fff; }

#user_profile_attributes_dob_1i {
	width: 100px;
}
#user_profile_attributes_dob_2i {
	width: 100px;
}
#user_profile_attributes_dob_3i {
	width: 100px;
}