<% if @activities.count == 0 %>
<div class="row-fluid activity-item">
<div class="alert alert-error">
	No recent activity. 
</div>
</div>
<% else %>
<%= render :partial => @activities , :as => :activity  %>
<% end %>

 