<% unless activity.target.nil? %>
<div class="row activity-item">
       <div id="post-sidebar" class="span2">


          <div id="stat-avatar" class="span1">
              <%= image_tag activity.user.profile.avatar.url(:thumb), :class=> 'avatar' %>
          </div>
          <div class="stat-avatar">
             <h3><%= activity.user.username %></h3>
             <%= time_ago_in_words(activity.created_at) %> ago.
         </div>
  
     </div>
    <div id="stat-body" class="span6">
             <div class="stat-content">
             Tracked a stat of <%= activity.target.value %>
             </div>
     
              <div id="stat-footer"> 
                <div class="control">
                  Like - Flag
                </div>
              </div>
    </div>
</div>

<% else %>

<div class="content-removed">

</div>

<% end %>

