	<div>
		<h2>Stats</h2>
    </div>
    <div>
    	<a class="btn btn-primary" data-toggle="modal" href="#stats-modal" >Track Stat</a>
    	<%= link_to "Goals",(:goals), :class=>"btn btn-primary" %>
    </div>

