<ul class="nav nav-tabs nav-stacked">

  <li>
  	<a data-toggle="modal" href="#stats-modal">Track Stat<i class="icon-chevron-right pull-right"></i></a>
  	
  </li>
 
  <% if params[:controller] == "stats"%>
  <li class="active">
 
    <%= link_to stats_path  do %>
    Stats
    <i class="icon-chevron-right pull-right"></i>
    <% end %>
    
  </li>
  
  <% else %>
    <li>
    <%= link_to stats_path do %>
    Stats
    <i class="icon-chevron-right pull-right"></i>
    <% end %>
   </li>
   <% end %>
    <% if params[:controller] == "goals"%>
  <li class="active">
    <%= link_to goals_path do %>
    Goals
    <i class="icon-chevron-right pull-right"></i>
    <% end %>
  </li>
  <% else %>
    <li>
    <%= link_to goals_path do %>
    Goals
    <i class="icon-chevron-right pull-right"></i>
    <% end %>
   </li>
   <% end %>

 
</ul>