<ul class="nav nav-tabs nav-stacked">


 


  


    <li class="<%= 'active' if params[:controller] == 'goals' %>">
    <%= link_to goals_path do %>
    Goals
    <i class="icon-chevron-right pull-right"></i>
    <% end %>
    </li>
 
    
 
</ul>