

<p>

</p>

<p>
  <b>Name:</b>
  <%= @circle.name %>
</p>

<p>
  <b>Description:</b>
  <%= @circle.description %>
</p>


<%= link_to 'Edit', edit_circle_path(@circle) %> |
<%= link_to 'Back', circles_path %>
